certifi==2020.12.5
click==7.1.2
Flask==1.1.2
Flask-Cors
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2
joblib
MarkupSafe
numpy
scikit-learn
scipy
six
threadpoolctl
Werkzeug==1.0.1
wincertstore==0.2
